<footer class="bg-dark   text-center text-white">
    <div class="container p-4">
        <section class="mb-4">
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                    class="fab fa-facebook-f"></i></a>

            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                    class="fab fa-twitter"></i></a>

            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                    class="fab fa-google"></i></a>

            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                    class="fab fa-instagram"></i></a>

            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                    class="fab fa-linkedin-in"></i></a>
        </section>
        <section class="mb-4">
            <p>Shop Thanh Hà - Đặt là thích </p>
        </section>
        <section class="">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Câu hỏi thường gặp</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Đặt hàng như thế nào</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Cách thức thanh toán</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Khuyến mãi</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Về Shop</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Tin tức</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Cẩm nang</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Tổng đài</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Quản lí</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Tra cứu sản phẩm</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Kiểm tra thông tin</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Khiếu nại</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Mẹo và kinh nghiệm</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Mua Hàng nhanh chóng</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white"> Cách miễn phí ship </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        &copy; 2024 Copyright: Nguyễn Châu Tuấn
    </div>
</footer>
