<h1>Chao mung ban den tuan it</h1>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                {%for t in categories%}
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">{{t.name}}</a>
                    </li>
                {%endfor%}
            </ul>
            <form class="d-flex" method="get" action="\"> --dung de chay trang chu
                <input class="form-control me-2" type="text" placeholder="Nhap tu khoa tim... " name="keyword">
                <button class="btn btn-primary" type="submit">Tim kiem</button>
            </form>
        </div>
    </div>
</nav>